/* HEADER */
.container-fluid{
   overflow-x: hidden;
    
}
body{
}
.main{
    
    background-color: red;
}
/* MAIN */
.cat1,.cat2,.cat3,.cat4{
    background-color: blue;
    height: 10vh;
}
/* FOOTER */
